<!DOCTYPE HTML>
<html>
   <head>
      <title>Canary demo</title>
      <meta http-equiv="content-type" content="text/html; charset=utf-8" />
      <link rel="shortcut icon" href="favicon.png" type="image/png" />
      <link rel="stylesheet" type="text/css" href="style.css"/>
      <title>Rounded Corner Boxes</title>
      <script src="https://unpkg.com/htmx.org@1.4.1"></script>
   </head>
   <body>
      <h1>Canary header selection</h1>
      <p>How should we route your requests?</p>

      <form action="#" method="post">
      <input type="radio" id="yes" name="want-canary" value="yes" {{ .StatusYes }}>
      <label for="preview">Bleeding Edge! - (Always Preview)</label><br>
      <input type="radio" id="no" name="want-canary" value="maybe" {{ .StatusMaybe }}>
      <label for="canary">Normal Canary</label><br>
      <input type="radio" id="maybe" name="want-canary" value="no" {{ .StatusNo }}>
      <label for="stable">Stay safe! - (Always stable)</label>
      <p>
      <input type="submit" value="Apply">
      </p>
      </form>

      <p>
         Current Header 
         <code> {{ .CanaryHeaderName }}: <span id="CurrentHeaderValue"> {{ .CurrentHeaderValue }}  </span></code>
      </p>

       <h2> Request dashboard (Updates every 3 seconds) <img   src="bars.svg"/></h2>
      <div class="box" hx-headers='{"{{ .CanaryHeaderName }}": "{{ .CurrentHeaderValue }}"}' hx-get="callme" hx-trigger="every 3s">
         <h2>Pod request</h2>
      </div>
      <div class="box" hx-headers='{"{{ .CanaryHeaderName }}": "{{ .CurrentHeaderValue }}"}' hx-get="callme" hx-trigger="every 3s">
         <h2>Pod request</h2>
      </div>
      <div class="box" hx-headers='{"{{ .CanaryHeaderName }}": "{{ .CurrentHeaderValue }}"}' hx-get="callme" hx-trigger="every 3s">
         <h2>Pod request</h2>
      </div>
      <div class="box" hx-headers='{"{{ .CanaryHeaderName }}": "{{ .CurrentHeaderValue }}"}' hx-get="callme" hx-trigger="every 3s">
         <h2>Pod request</h2>
      </div>
      <div class="box" hx-headers='{"{{ .CanaryHeaderName }}": "{{ .CurrentHeaderValue }}"}' hx-get="callme" hx-trigger="every 3s">
         <h2>Pod request</h2>
      </div>
      <div class="box" hx-headers='{"{{ .CanaryHeaderName }}": "{{ .CurrentHeaderValue }}"}' hx-get="callme" hx-trigger="every 3s">
         <h2>Pod request</h2>
      </div>
      <div class="box" hx-headers='{"{{ .CanaryHeaderName }}": "{{ .CurrentHeaderValue }}"}' hx-get="callme" hx-trigger="every 3s">
         <h2>Pod request</h2>
      </div>
      <div class="box" hx-headers='{"{{ .CanaryHeaderName }}": "{{ .CurrentHeaderValue }}"}' hx-get="callme" hx-trigger="every 3s">
         <h2>Pod request</h2>
      </div>
      <div class="box" hx-headers='{"{{ .CanaryHeaderName }}": "{{ .CurrentHeaderValue }}"}' hx-get="callme" hx-trigger="every 3s">
         <h2>Pod request</h2>
      </div>
      <div class="box" hx-headers='{"{{ .CanaryHeaderName }}": "{{ .CurrentHeaderValue }}"}' hx-get="callme" hx-trigger="every 3s">
         <h2>Pod request</h2>
      </div>
      <div class="box" hx-headers='{"{{ .CanaryHeaderName }}": "{{ .CurrentHeaderValue }}"}' hx-get="callme" hx-trigger="every 3s">
         <h2>Pod request</h2>
      </div>
      <div class="box" hx-headers='{"{{ .CanaryHeaderName }}": "{{ .CurrentHeaderValue }}"}' hx-get="callme" hx-trigger="every 3s">
         <h2>Pod request</h2>
      </div>
      <div class="box" hx-headers='{"{{ .CanaryHeaderName }}": "{{ .CurrentHeaderValue }}"}' hx-get="callme" hx-trigger="every 3s">
         <h2>Pod request</h2>
      </div>
      <div class="box" hx-headers='{"{{ .CanaryHeaderName }}": "{{ .CurrentHeaderValue }}"}' hx-get="callme" hx-trigger="every 3s">
         <h2>Pod request</h2>
      </div>
      <div class="box" hx-headers='{"{{ .CanaryHeaderName }}": "{{ .CurrentHeaderValue }}"}' hx-get="callme" hx-trigger="every 3s">
         <h2>Pod request</h2>
      </div>
      <div class="box" hx-headers='{"{{ .CanaryHeaderName }}": "{{ .CurrentHeaderValue }}"}' hx-get="callme" hx-trigger="every 3s">
         <h2>Pod request</h2>
      </div>
   </body>
</html>

